.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-color: #380597;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.eq{
grid-column: span 2;
}